<nav>[ <a href="Users">Users</a> | <a href="/Questions">Questions</a> | <a href="/Answers">Answers</a> | <a href="/Question_Types">Question_Types</a> | <a href="/Game_Rounds">Game_Rounds</a> | <a href="/Rounds_Questions">Rounds_Questions</a> ]</nav>
