<div>
    <h2>Browse Game_Rounds</h2>
    <table>
        {{> browse_header button=true}}
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.roundID}}</td>
                <td>{{this.username}}</td>
                <td>{{this.score}}</td>
                <td>{{this.time}}</td>
                <td><button id="delete">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="box">
    <h2>Insert Game_Round</h2>
    <form action="" method="get" class="form-example">
        <div>
            <label for="user">Username: </label><select name="user" required>
                <option selected>None</option>
                <option>Rob_Hess</option>
                <option>Annette_Tongsak</option>
                <option>Oria_Weng</option>
                <option>Deepti_Ravidath</option>
                <option>Jon</option>
            </select>
        </div>
        <div><label for="score">Score: </label><input type="number" name="score" min="0"></div>
        <div><label for="time">Time (hh:mm:ss): </label><input type="text" name="time" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"></div>
        <div>
            <fieldset required>
                <legend>Questions:</legend>
                    <div><input type="checkbox" id="q1" name="q1" /><label for="q1">How have you dealt with a team member not pulling their weight in the past?</label></div>
                    <div><input type="checkbox" id="q2" name="q2" /><label for="q2">Describe a time when you faced a tight deadline or a high-pressure situation. How did you handle the stress, and what was the outcome?</label></div>
                    <div><input type="checkbox" id="q3" name="q3" /><label for="q3">Consider two sorting algorithms: Algorithm A with a time complexity of O(n log n) and Algorithm B with a time complexity of O(n^2). Under what conditions might you choose Algorithm B over Algorithm A?</label></div>
            </fieldset>
        </div>
        <input type="submit">
    </form>
</div>

<div class="box">
    <h2>Update Game_Round</h2>
    <form action="" method="get" class="form-example">
        <div>
            <label for="user">Round ID: </label><select name="roundID" required>
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        <div>
            <label for="user">Username: </label><select name="user" required>
                <option selected>None</option>
                <option>Rob_Hess</option>
                <option>Annette_Tongsak</option>
                <option>Oria_Weng</option>
                <option>Deepti_Ravidath</option>
                <option>Jon</option>
            </select>
        </div>
        <div><label for="score">Score: </label><input type="number" name="score" min="0"></div>
        <div><label for="time">Time (hh:mm:ss): </label><input type="text" name="time" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"></div>
        <div>
            <fieldset required>
                <legend>Questions:</legend>
                    <div><input type="checkbox" id="q1" name="q1" /><label for="q1">How have you dealt with a team member not pulling their weight in the past?</label></div>
                    <div><input type="checkbox" id="q2" name="q2" /><label for="q2">Describe a time when you faced a tight deadline or a high-pressure situation. How did you handle the stress, and what was the outcome?</label></div>
                    <div><input type="checkbox" id="q3" name="q3" /><label for="q3">Consider two sorting algorithms: Algorithm A with a time complexity of O(n log n) and Algorithm B with a time complexity of O(n^2). Under what conditions might you choose Algorithm B over Algorithm A?</label></div>
            </fieldset>
        </div>
        <input type="submit">
    </form>
</div>