<div class="box">
    <h2>Browse Question_Types</h2>
    <table>
        {{> browse_header}}
        <tbody>
            {{#each data}}
            <tr>
                <td>{{#if this.typeID includeZero=true}}{{this.typeID}}{{else}}NULL{{/if}}</td>
                <td>{{#if this.typeName includeZero=true}}{{this.typeName}}{{else}}NULL{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="box">
    <h2>Insert Question_Type</h2>
    <form action="" method="get" class="form-example">
        <div class="form-example">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required />
        </div>
        <div class="form-example">
        <input type="submit" value="Insert Question_Type" />
        </div>
    </form>
</div>
