/* Styling for elements in our site. All original work. */

table {
    max-width: 100%;
    width: fit-content;
    min-height: min-content;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    max-width: 100%;
}

.box {
    max-width: fit-content;
    max-height: fit-content;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

nav {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

h2 {
    margin: 15px;
}

label {
    font-weight: normal;
    font-size: medium;
    margin: 5px;
}

select {
    max-width: 80vw;
    margin: 5px;
}

form {
    display: grid;
}

input[type="submit"] {
    margin: 10px;
}

textarea {
    width: auto;
    max-width: 100%;
}

.textarea-input {
    display: grid;
}

.form-example {
    margin: 5px;
}

option {
    text-wrap: wrap;
    max-width: 80vw;
}

#input-time, #round-time-input {
    display: inline;
}

.input-time-field {
    max-width: 5vw;
}

.title {
    width: 100%;
    text-align: center;
}
